@charset "utf-8";

/* 눈누 양진체 : https://noonnu.cc/font_page/330 */
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.margin{
    margin-top: 150px;
}

.mb150{
    margin-bottom: 150px;
}

h1{
    text-align: center;
    font-family: '양진체';
    /* color: #5A3A26; */
    margin: 0 auto;
    padding: 1rem;
}

.d-flex{
    display: flex !important;
}